<!-- SECTION 4: Contact-->
<section id="contact" class= "contact-section">
    <h2>Contact Me</h2>

    <div class="group">
      
        <form action="https://formspree.io/f/mgvkaepe" method="POST">
            <form action="https://formspree.io/f/YOUR_FORM_ID" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>

            <label for="email">Email</label>
            <input type="email" name="_replyto" id="email" required>

            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6" required></textarea>

    <button type="submit">Send</button>
        </form>
    </div>
  </section>
