<!-- SECTION 3: project -->
<section id="projects" class="project-grid-section">
  <h2>Projects</h2>

  <div class="grid-container">
    {% for item in site.projects %}
      <a href="{{ item.url }}" class="project-link">
        <div class="project-card">
          {% if item.main-image %}
            <img src="{{ item.main-image }}" alt="{{ item.title }} image" class="project-image">
          {% endif %}
          <h3 class="project-title">{{ item.title }}</h3>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
